@model IEnumerable<Team>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

    <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Card Table</h4>
                  <a class="btn btn-success" asp-controller="Card" asp-action="Create">Create</a>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Count</th>
                          <th>Title</th>
                          <th>Position</th>
                          <th>Setting</th>
                          
                        </tr>
                      </thead>
                      
                      <tbody>
                      @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                          <td>@count</td>
                          <td>@item.Title</td>
                          <td>@item.Position</td>
                          <td>
                              <a class="btn btn-danger" asp-action="Delete" asp-controller="Card" asp-route-id="@item.Id">Delete</a>
                              <a class="btn btn-primary" asp-action="Update" asp-controller="Card" asp-route-id="@item.Id">Update</a>
                              <a class="btn btn-info" asp-action="Detail" asp-controller="Card" asp-route-id="@item.Id">Detail</a>
                          </td>
                          
                        </tr>
                        }
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
     </div>

